
.dron-content{
    margin: 50px 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vw;
    height: 40vw;
    margin-bottom: 70px;
}


.drone-imges{
    margin-left: 90px;
    margin-top: 100px;
}

.details{
    background-color: #E5E5E9;
    padding: 30px 55px;
}
.details-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    padding: 50px;
}

.h2-texts{
    display: flex;
    align-items: center;
    justify-content: center;

}
hr{
    margin-left: 36px;
    width: 88%;
    margin-bottom: 35px;
    color: #FF2B17;
}

.breadcrum{
    color: #707070;
    padding: 25px 0;
}

.drone-cover{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drone-cover .image{
    height: 400px;
    width: 600px;
    object-fit: cover;
}

.card-add > .minus-btn, .card-add>.plus-btn{
    padding: 5px 15px;
    cursor: pointer;
}


.quantity{
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.buy-btn{
    margin-left: 15px;
    border: none;
    padding: 10px 15px;
    background: linear-gradient( #e9afaa, #FF2B17)  ;
}